#content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
#piechart{
    width: 100%;
    height: 20em;
}

#eventRaiseDiv{
    position: relative;
    top:20%;
    left:50%;
    transform: translateX(-50%) rotateX(25deg);

    background: rgb(144,144,144);
    background: linear-gradient(125deg, rgba(100,100,100,1) 0%, rgba(50,50,50,1) 100%);
    width: 12vw;
    height: 12vw;
    border-radius: 1em;
    border-top: .05em solid #fff;
    border-left: .05em solid #fff;
    
    border-bottom: 1em solid #111;
    border-right: .5em solid #111;
    box-shadow: 
    .05em 0 0 #8b8b8b,
    -.05em 0 0 #8b8b8b,
    0 .05em 0 #8b8b8b,
    0 -.05em 0 #8b8b8b;

}

#eventRaise{
    outline: none;
    background-color: rgb(198,19,19);
    background-color: linear-gradient(180deg, rgba(198,19,19,1) 0%, rgba(101,3,3,1) 100%);    
    position:relative;
    left:10%;
    top:10%;
    
    width: 80%;
    height: 85%;
    border:0;
    border-radius: 50%;
    /* border-bottom: 0.15vw solid var(--mainColor);
    border-right: 0.075vw solid var(--secondaryColor); */
    box-shadow: 
        .1em 0 0 #444,
        -.1em 0 0 #444,
        0 .1em 0 #444,
        0 -.1em 0 #444,
        0 -.2em .2em #666,  
        inset -.5em -1.5em 0 rgba(0,0,0,0.5);

    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;
}
#eventRaise:hover{
    -webkit-transition: background-color .2s linear;
    -moz-transition: background-color .2s linear;
    -o-transition: background-color .2s linear;
    -ms-transition: background-color .2s linear;
    transition: background-color .2s linear;
    background-color: rgb(173, 15, 15);
    background-color: linear-gradient(180deg, rgb(173, 15, 15) 0%, rgba(101,3,3,1) 100%);    
}
#eventRaise:active{
    box-shadow: 
        .1em 0 0 #444,
        -.1em 0 0 #444,
        0 .1em 0 #444,
        0 -.1em 0 #444,
        0 -.2em .2em #666,  
        inset 0em 1.5em 0 rgba(0,0,0,0.5),
        0em .3em .1em #721515; /*top internal highlight*/
}

rect{
    color:white;
}

#alerta{
    /* Para hacer esto necesitaras las etiqueta left:50%, transform:translateX(-50%) y cosas por el estilo, también dale el estilo negros, azules y tal 😍  */
    /* Hacemos que en vez de una imagen sea un emoticono mu grande? 🌪 🌩 etc */
    z-index: 1;
    position: absolute;
    background-color: #17191a;
    width: 25vw;
    height: minmax(15em,35em);
    border-radius: 1em;
    left: 50%;
    top:20%;
    transform:translateX(-50%);
    text-align: center;
    box-shadow:
        -.03vw -.03vw 0 #fff,  
        .03vw -.03vw 0 #fff,
        -.03vw .03vw 0 #fff,
        .03vw .03vw 0 #fff,
        .1vw .1vw var(--r),
        -.1vw 0 var(--g),
        0 -.1vw var(--b);

    display:grid;
    gap:2em;
    grid-template-rows:.1fr .1fr .1fr 3fr 1fr;
    padding:1.5em;
}

#title{
    font-size: var(--mediumtext);
}
#desc{
    font-size: var(--smolXLtext);
}
#money{
    font-size: var(--smoltext);
}

#emoji{
    font-size: var(--prettybigtext);
    text-shadow: .02em .02em black, -.01em -.01em white;
}

#boton{
    font-weight: bolder;
    background-color: #ea00d9;
    border: none;
    border-radius: 1em;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 
    -.03vw -.03vw 0 #fff,  
    .03vw -.03vw 0 #fff,
    -.03vw .03vw 0 #fff,
    .03vw .03vw 0 #fff,
    .1vw .1vw var(--r),
    -.1vw 0 var(--g),
    0 -.1vw var(--b);
    font-size: var(--smolXLtext);
}
#boton > cite{
    opacity: 1;
}
#boton:hover {opacity: 1}

@media (max-width: 600px){
    #content{
        display: grid;
        grid-template-columns: 1fr;
    }
    #content > *{
        text-align: center;
        height:33vh;
        width:90vw;
    }
    #alerta{
        width: 75vw;
        height: 62vh;
    }


    #eventRaiseDiv{
        width: 25vw;
        height: 25vw;    
    }
    
    #eventRaise{
        position:relative;
        left:2%;
        top:10%;
        
        width: 80%;
        height: 85%;
    }
    
    #alerta{
        /* Para hacer esto necesitaras las etiqueta left:50%, transform:translateX(-50%) y cosas por el estilo, también dale el estilo negros, azules y tal 😍  */
        /* Hacemos que en vez de una imagen sea un emoticono mu grande? 🌪 🌩 etc */
        grid-template-rows:.5fr .1fr .5fr 3fr 1fr;
    }
    #title{
        font-size: var(--prettybigtext);
    }
    #desc{
        font-size: var(--bigtext);
    }
    #money{
        font-size: var(--bigtext);
    }
    #boton{
        font-size: var(--bigtext);
    }
    
    #emoji{
        font-size: 25vw;
        text-shadow: .02em .02em black, -.01em -.01em white;
    }
    
}