/* Style the video: 100% width and height to cover the entire window */

#videobg {
    margin-top: -7em;
    max-width: 100%;
}
.row h2{
    padding: 3em 0 1em 0;
}
@media (max-width: 600px){
    .row{
        font-size: var(--bigtext);
    }
}
