@value --mainColor from "../css.css";
@value --secondaryColor from "../css.css";
@value --secondaryDarkColor from "../css.css";
@value --secondaryDarkerColor from "../css.css";
@value --terciaryColor from "../css.css";
@value --terciaryDarkColor from "../css.css";
@value --smoltext from "../css.css";
@value --smolXLtext from "../css.css";
@value --mediumtext from "../css.css";
@value --bigtext from "../css.css";

#content{
    display: flex;
    flex-direction: column;
    gap: 8vw;
}

#sliderImages{
    padding:1.5vw;
    background-color: var(--terciaryDarkColor);
    border: .15vw solid var(--mainColor);
    border-radius: .5vw;
    min-height: 18vw;
    /* align-items: center; */
}

.centerImage{
    position: relative;
    height: 100%;

}

.centerImage img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0.33vw;
}


#progress{
    height: 0.1vh;
    width: 100%;
    background-color: var(--secondaryDarkerColor);
  
}

#bar{
    width: 0%;
    height: 100%;
    background-color: var(--secondaryColor);
    border-right: .3vw solid var(--mainColor);
}

#QueEs h2{
    font-size: var(--mediumtext);
    width: fit-content;
    border-bottom: 0.15vw solid var(--mainColor);
    border-radius: .5vw;
    margin-bottom: 2vw;
}

#QueEs p, #newSociety p{
    padding-bottom: 0.5vw;
    text-align: justify;
}

#newSociety h2{
    font-size: var(--mediumtext);
    width: fit-content;
    border-bottom: 0.15vw solid var(--mainColor);
    border-radius: .5vw;
    margin-bottom: 2vw;
    position: relative;
    left:50%;
    transform:translateX(-50%);
}

@media (max-width: 600px){

    #QueEs h2{
        font-size: var(--bigtext);
    }
    #newSociety h2{
        font-size: var(--bigtext);
    }    

    #sliderImages{
        padding:2vw;
        height:25vh;
        margin-left: 7.25vw;
        width:75vw;
    }

    #QueEs ~ .centerImage{
        height:25vh;
    }
}