:root{
    --ancho: 1.5vw;
    --menosancho: 1vw;
}

#content{
    /* box-sizing: content-box; */
    position: relative;
    width: 40vw;
    /* height: auto; */
    /* left: 25vw;
    margin-top: 15vh;    
    display: grid;*/
    padding: 2vh 2vw 6vh 2vw; 
    border: 0.2vw solid var(--bDark);
    border-radius: 1em;
    
    font-size: var(--ancho);
    
    display: flex;
    flex-direction: column;
    
    position:absolute;
    background-color: rgb(14, 14, 14);
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
#title{    
    color: var(--mainColor);
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}
form{ 
    color: var(--mainColor);
    font-weight: bolder;
    /* display:grid; 
    grid-template-columns: 1fr 2fr; */
    width:100%;
    gap: 1vw;
}

button{
    margin-top: 3em;
    border: 0;
    border-bottom: 0.3vw solid var(--mainColor);
    border-top: 0.15vw solid var(--secondaryColor);
    border-right: 0.3vw solid var(--secondaryColor);
    border-radius: .2em;
    background-color: rgba(0,0,0, 0);

    color:white;
    padding: .4em;
    font-size: larger;
    font-weight: 900;
    font-family: 'pp', sans-serif;
    font-style:none;
    color:black;
    letter-spacing: 0.25vw;
 
    text-shadow: 
     -.03vw -.03vw 0 #fff,  
     .03vw -.03vw 0 #fff,
     -.03vw .03vw 0 #fff,
     .03vw .03vw 0 #fff,
     .1vw .1vw var(--r),
     -.1vw 0 var(--g),
     0 -.1vw var(--b);
}

input{
    width: 100%;
    height: auto;
    box-sizing: border-box;

    padding: .4em;
    background-color: rgb(44, 44, 44);

    color:white;
    font-weight: 800;
    font-size: var(--menosancho);

}

input:focus{
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, var(--b), var(--g));
    border-image-slice: 1;
    outline: none;
}

::placeholder{
    font-size: var(--menosancho);
    color: white;
    
    font-weight: 700;
}

@media (max-width: 600px){
    #content{
        padding: 3vh;
        width: 70vw;
        font-size: var(--bigtext);

    }
    input{
        font-size: var(--mediumtext);
    }
    input:focus{
        font-size: var(--mediumtext);
    }
    ::placeholder{
        font-size: var(--mediumtext);
    }    
}