main{
    padding: 4vw;
}

#title{
    display:flex;
    min-height: 10vh;
}
#title img{
    width: 3vw;
    transform: translateX(100%);

}
#title h1 {
    transform: translateX(35%);
    font-size: var(--mediumtext);
}

#myMoney{
    position: absolute;
    transform: translate(7vw, 175%);

    font-family: 'pp', sans-serif;
    font-style:none;
    color:black;
    letter-spacing: 0.25vw;
 
    text-shadow: 
     -.03vw -.03vw 0 #fff,  
     .03vw -.03vw 0 #fff,
     -.03vw .03vw 0 #fff,
     .03vw .03vw 0 #fff,
     .1vw .1vw var(--r),
     -.1vw 0 var(--g),
     0 -.1vw var(--b);
     
    text-align: left;
}
#myMoney h1{
    text-align: left;
    font-size: var(--smolXLtext);
}

#content{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;

}

#menus{
    grid-row-start: 1;
    grid-row-end: 2;

    display: grid;
    padding: 1vw;
    padding-left: 2vw;
    max-height: 10em;
}

#menus button{
    padding-left:.4vw;
    text-transform: uppercase;
    border-bottom: 0.15vw solid var(--mainColor);
    border-top: 0.15vw solid var(--secondaryColor);
    border-right: 0.075vw solid var(--secondaryColor);
    border-left: 0;

    /* width: fit-content; */
    margin-bottom: 1vw;
    border-radius: .3vw;
    font-size: var(--smolXLtext);

    padding: 0.25em 0 0 0.5em;
    min-height: 2.5em;
    background-color: rgba(0, 0, 0, 0);

    text-align: left;
}

#menus button:hover {
    border: 0.2em solid var(--mainColor);
}

#cabeza #cesta #hideItems:hover {
    border: 0.08em solid var(--mainColor);
}

#cabeza #cesta #cestaItems .cestaItem #pagar:hover {
    border: 0.12em solid var(--mainColor);
}

#menus a:hover cite{
    color:var(--secondaryDarkColor);
}

#tiendas{
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 5;

    /* display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(325px, 2fr));
    gap:1em; */

    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  
}

.item{
    background-color: rgb(31, 31, 31);
    width: 375px;
    border-radius: 2%;

    display: flex;
    flex-direction: column;
    padding: 1em;
    flex: 1 0 275px;

    height: auto;
    margin: 1%;  
}

.item:hover {
    border: 0.25em solid var(--mainColor);
}

.item img{
    display: block;
    padding: 2em 0;
    margin: auto auto;
    position:relative;
    max-width: clamp(5vw,20vw,50vw);
}

.undisplay{
    display: none;
}

.desc{
    padding-top: 1em;
    max-width: 100%;
    text-align: justify;
}

.desc p{
    font-size: 15px;

}

.buy{
    padding-top: 1em;
    display: grid;
    width: 50%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    margin: 1em auto;
    gap:2em;
}

.add{
    width: 1.5em;
    height: 1.5em;

    color:black;
    font-weight: bolder;

    border-bottom: 0.15vw solid var(--mainColor);
    border-top: 0.15vw solid var(--secondaryColor);
    border-right: 0.075vw solid var(--secondaryColor);
    border-radius: 50%;
    background-color: var(--g);
}.add:hover{
    background-color: var(--gDark);
} 

.less{
    width: 1.5em;
    height: 1.5em;

    color:black;
    font-weight: bolder;

    border-bottom: 0.15vw solid var(--secondaryColor);
    border-top: 0.15vw solid var(--secondaryColor);
    border-right: 0.075vw solid var(--mainColor);
    border-radius: 50%;
    background-color: var(--r);
}.less:hover{
    background-color: var(--rDark);
    border-bottom: 0.15vw solid var(--secondaryColor);
    border-top: 0.15vw solid var(--secondaryColor);
    border-right: 0.075vw solid var(--mainColor);

}

.add cite p, .less cite p{
    /* transform: translate(.1em,-.3em); */
    padding-left: .35em;
    cursor: pointer;
}

.val{
    font-size: var(--smolXLtext);
}

.price{
    padding-top: 1em;
    color: khaki;
}
.salario{
    /* padding-top: 1em; */
    color: rgb(160, 240, 140);
}
.salariont{ /* triste */
    color: rgb(240, 140, 140);

}

.add:hover cite p, .less:hover cite p{ color:white; }


#cabeza{
    width: 100%;
    gap: 28%;
    display: flex;
}

#cesta{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: flex-end;
    align-content: flex-end;

    position: relative;
    left:auto;
    right:45vw;
    min-width: 100%;
}

#cestaItems{
    width: 35rem;
    background: linear-gradient(90deg, rgba(31,31,31,0) 0%, rgba(31,31,31,1) 2%, rgba(31,31,31,1) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 2em;
    
    border-bottom: 0.15vw solid var(--mainColor);
    border-top: 0.15vw solid var(--secondaryColor);
    border-right: 0.075vw solid var(--secondaryColor);
    border-left: 0;
    
    margin-bottom: 1em;
}

.cestaItem{
    height: 10em;
    width: 100%;
    display: grid;
    grid-template: ". . ." 1fr/2fr 1fr 1fr;
    align-items: center;
    border-bottom: 0.005vw solid white;;
}

.arriba{
    align-items: flex-start;
    height: 3em;
}

.cestaItem img{
    max-height: 75%;
    width: 75%;
    position: relative;
    left:12.25%;
}

.wide{
    grid-template: ". ." 1fr/2fr 1fr;
    justify-items:center;
    height: 100%;
    padding: 1em 0;
}

#cestaPrice{
    text-align: right;
}

#pagar{
    width: 100%;
    background-color: rgb(56, 56, 56);
    font-size: var(--smolXLtext);
    font-weight: 900;
    outline: none;
    padding: 0.5em 0;
    border-top: 0.125vw solid var(--g);
    border-left: 0.075vw solid var(--g);
    border-radius: .2em;
    box-sizing: border-box;
}
#pagar:active{
    border-bottom: 0.15vw solid var(--mainColor);
    border-top: 0.15vw solid var(--secondaryColor);
    border-right: 0.075vw solid var(--secondaryColor);
    background-color: rgb(71, 71, 71);


}
#hideItems{

    align-self: flex-end;
    margin-bottom: .25em;

    background-color: rgb(56, 56, 56);
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: .2em;
    /* padding: .5em; */
    border: none;
    color:white;
    font-size: var(--bigtext);

    border-bottom: 0.15vw solid var(--mainColor);
    border-top: 0.15vw solid var(--secondaryColor);
    border-right: 0.075vw solid var(--secondaryColor);
    border-left: 0;

    /* width: fit-content; */
    border-radius: .3vw;    
}
#hideItems:hover{
    background-color: rgb(56, 56, 56);
}
#hideItems:active{
    background-color: rgb(71, 71, 71);
}
#hideItems:focus{
    outline: none;
}
#hideItems img{width: 75%;transform: translateY(-.1em);}

.addCesta{
    border-radius: .3em;
    background-color: rgb(56, 56, 56);
    border-bottom: 0.15vw solid var(--mainColor);
    border-top: 0.15vw solid var(--secondaryColor);
    border-right: 0.075vw solid var(--secondaryColor);
    border-left: 0;
    padding: 0.5em 0;

    /* position: absolute;
    top:100%; */
    /* width: 20%; */
}


@media (max-width: 600px){
    #title{
        display:flex;
        min-height: 15vh;
    }
    #title img{
        width: 10vw;
        transform: translateX(0%);

    }
    #title h1 {
        transform: translateX(0%);
        font-size: var(--biggertext);
    }

    #myMoney{
        transform: translate(10vw, 175%);
    }
    #myMoney h1{
        font-size: var(--bigtext);
    }
    
    #cesta{
        margin-top: 4vh;
        left:auto;
        right:69vw;
        /* min-width: 69vw; */
    }
    #cestaItems{
        width: 50vw;
        font-size: var(--mediumtext);
    }

    .buy,.add{
        font-size: var(--bigtext);
    }  
    .buy{
        width: 50%;
        gap:2vh;
    }

    .add{
        width: 5vw;
        height: 5vw;
    }

    .less{
        width: 5vw;
        height: 5vw;
    }

    .val{
        font-size: var(--bigtext);
    }

}