#gotoAdmin{
    position: absolute;
    bottom: 1em;
    right: 1em;
    top:auto;
    left:auto;
    width: 2em;
    height: 2em;
    outline: none;
    border: none;
    background-color: black;
    border-radius: .2em;
}
#gotoAdmin:hover{
    background-color: gray;
}

#username{   
    font-size: var(--bigtext);
    text-shadow: .05em .0em black, .0em .05em black, -.05em .0em black,.0em -.05em black;
    padding-left: 1em;
    padding-top: 0.2em;
    font-weight: bolder;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;    
    padding: 2em;    
    background-color: rgba(44, 44, 44, 0.5);   
    border: 0.2vw solid var(--bDark);
    border-radius: 1em;    
}
  
.grid-container > div {
    padding: 1em 0;
    font-size: var(--mediumtext);   
} 

.grid-container .grid-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;        
}


.item1 {
    
    grid-row-start: 1;
    grid-row-end: 3;  
    text-align: center;
}

#imgUser{
    width: 8em;
    border: 0.2vw solid var(--bDark);  
    border-radius: 1em;  
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 4;
    display: flex;
    font-size: var(--mediumtext);
    border-bottom: 0.05em solid white;
}

.item3 {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
}

.item4{
    grid-column-start: 1;
    grid-column-end: 4;
    padding-top: 2em;
    border-top: 0.05em solid white;
}

.ancho {
    position: relative;    
    width: 88%; 
}

.item1-1{
    margin-top: 0.4em;
    text-align: center;
}
.item2-1{
    margin-top: 0.5em;
    text-align: center;
}
.item3-1{
    margin-top: 1em;
}
.item4-1{
    margin-top: 0.5em;
    text-align: center;
}

.item5-1{
    margin-top: 0.4em;
    text-align: center;
}
.item6-1{
    margin-top: 0.5em;
    text-align: center;
}
.item7-1{
    margin-top: 1em;
}
.item8-1{
    margin-top: 0.5em;
    text-align: center;
}


/*slider*/
.slidecontainer {
    width: 100%;     
}
  
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

input[type="color"]{   
    height: 100%;
}

#btnRestaurarC{
    font-size: var(--smolXLtext);
    height: 4em;    
    text-transform: uppercase;
    border-bottom: 0.15vw solid var(--mainColor);
    border-top: 0.15vw solid var(--secondaryColor);
    border-right: 0.075vw solid var(--secondaryColor);
    border-left: 0;
    background-color: rgba(0, 0, 0, 0);
}

#opacidadTxT{
    font-size: var(--smolXLtext);
    text-align: center;
}

/*boton subir imagen*/
input[type=file]{
    height: 100%;    
    font-size: var(--medium);
}

input[type=file]::-webkit-file-upload-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
}
  
input[type=file]::file-selector-button {
    border: 2px solid #6c5ce7;
    padding: .2em .4em;
    border-radius: .2em;
    background-color: #a29bfe;
    transition: 1s;
}
  
input[type=file]::-webkit-file-upload-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
}
  
input[type=file]::file-selector-button:hover {
    background-color: #81ecec;
    border: 2px solid #00cec9;
}

@media (max-width: 600px){
    .grid-container .grid-container{
        margin-top: 2em;
        grid-template-columns: 1fr;       
    }    
    
    #btnRestaurarC{
        font-size: var(--mediumtext);
    }

    .grid-container .grid-container > div {
        font-size: 3vw;
    } 
}