@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: "pp";
    src: url("css/font/pp.TTF");
}

:root{
    --mainColor: #0abdc6;
    --secondaryColor: #ea00d9;
    --secondaryDarkColor: #6e138f;
    --secondaryDarkerColor: #3e0752;
    --terciaryColor: #133e7c;
    --terciaryDarkColor: #091833;

    --black: black;
    --medium: #17191a;
    --bright: #363636;

    --r:#ff0000;
    --rDark:#8d0000;
    --g:#32ec32;
    --gDark:#087c08;
    --b:#0abdc6;
    --bDark:#01696e;

    --smoltext: 1vw;
    --smolXLtext: 1.25vw;
    --mediumtext: 2vw;
    --mediumertext: 2.75vw;
    --bigtext: 3.5vw;
    --biggertext: 6vw;
    --prettybigtext: 10vw;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    background-color: black;
}

body{
    display:grid;
    grid-template-rows:auto 1fr auto;
    min-height: 100vh;
}

img{width: 100%;}

cite{
    font-family: 'pp', sans-serif;
    font-style:none;
    color:black;
    letter-spacing: 0.25vw;
 
    text-shadow: 
     -.03vw -.03vw 0 #fff,  
     .03vw -.03vw 0 #fff,
     -.03vw .03vw 0 #fff,
     .03vw .03vw 0 #fff,
     .1vw .1vw var(--r),
     -.1vw 0 var(--g),
     0 -.1vw var(--b);
}


/*#region HEADER */
header{
    padding: 1vw;
    background-color: var(--medium);
    border-bottom: 0.25vw solid var(--mainColor);
    display: grid;
    grid-template-columns: 5fr 2fr auto;
}

header a{ font-size: var(--bigtext); }
header a:hover{ color:var(--mainColor)}

#enlaces, #enlaces > div{
    display: flex;
    align-self: center;
}

#enlaces a{
    font-size: var(--mediumtext);
    font-weight: 900;
    font-family: 'pp', sans-serif;
    text-decoration: none;
    color:black;
    letter-spacing: 0.25vw;
 
    text-shadow: 
     -.03vw -.03vw 0 #fff,  
     .03vw -.03vw 0 #fff,
     -.03vw .03vw 0 #fff,
     .03vw .03vw 0 #fff,
     .1vw .1vw #ff0000,
     -.1vw 0 #32ec32,
     0 -.1vw #0abdc6;
    padding-right: 1.5vw;

    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#enlaces a:hover{
    color:var(--secondaryDarkColor);
}
/*#endregion  */

/*#region MAINBODY */
main{
    background-color: rgb(15, 15, 15);
    background-image: url(img/images2.png);
    background-size: 30em;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10vw 4vw 4vw 4vw;
    font-size: var(--smoltext);
}

.row{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 5vw;
}

.longdiv{
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
    width: 80%;
    left:10%;
}

/*#endregion */

/*#region FOOTER */
footer{
    padding: 1vw 0;
    border-top:0.2vw solid var(--secondaryColor);
    background-color: var(--medium);
    text-align: center;
    color:white;
}

footer > div{
    position: relative;
    background-color: #4e4e4e;
}

#webticker{
    position:relative;
    width: 97vw;
    left: .875vw;
    background-image: url(img/yellow2.png);
    margin: 0.5vw 0 1.5vw 0;
}

#webticker li{
    font-size: var(--smoltext);
    color: var(--mainColor);
    text-shadow: 0.1vw 0.1vw var(--secondaryDarkColor);
    margin: 0 7em;
}

#copy{
    font-size: var(--smoltext);
    color: var(--mainColor);
    text-shadow: 0.1vw 0.1vw var(--terciaryColor);
    display: inline;
}

/* #hide {
    opacity: 0;
} */
/* 
#copy:hover, #hide:hover ~ #copy:before {
    display: none;
}
    
#copy:hover + #hide, #hide:hover {
    opacity: 1;
    transition: opacity 0.5s linear;
} */

/*#endregion  */


/*#region Extras */

.centerText{
    text-align: justify;
    text-align-last: center;
}

/*#endregion */

@media (max-width: 600px){
    .row{
        grid-template-columns: 1fr;
        font-size: var(--mediumertext);
    }
    .row h2{
        font-size: var(--biggertext);
        padding: 2vh 0;
    }

    #webticker li{ font-size: var(--mediumertext); } 
    #copy{ font-size: var(--mediumertext); } 
    header a{ font-size: var(--biggertext); }
    #enlaces a{font-size: var(--mediumertext);}
    header{
        grid-template-columns: auto auto auto;
    }    
}